.post{
    margin-top: 30px;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow:0px 0px 16px -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
}

.postWrapper{
    padding:10px;
}

.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postTopLeft{
    display: flex;
    align-items: center;
}
.postProfileImage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.postUsername{
    font-size: 15px;
    font-weight: 600;
    margin: 0 10px
}
.postDate{
    font-size: 10px;
    margin-top: 3px;
}
.postTopRight{
    align-items: center;
}

.postCenter{
    margin-top: 10px;
    margin-left: 10px;
    margin-left: 10px;
}

.postText{
    margin-top: 15px;
    font-size: 15px;
    font-weight: 300;
}

.postImg{
    height: 50%;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postBottomLeft{
    display: flex;
    align-items: center;
}

.likeIcon{
    font-size: 20px !important;
    padding-left: 5px;
    cursor: pointer;
    margin: 0;
}

.postLikeCounter{
    font-size: 10px;
    font-weight: 1000;
}

.postCommentText{
    font-size: 15px;
    border-bottom: gray dashed thin;
}

